.primera{
    background-color: rgb(175, 134, 97);
    border: 1px solid rgb(175, 134, 97);        
    border-width: 20px 10px 20px 10px;
            font-family: sans-serif;
            display: flex;
            text-align: center;
            justify-content: center;
}

.segundo{
background-color: rgb(175, 134, 97);
border: 1px solid rgb(175, 134, 97);   
border-width: 20px 20px 20px 20px;
font-family: sans-serif;
}

